################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DemoPaypal/.vs/DemoPaypal/v16
