

<link href="~/css/pedido-index/pedido-index.css" rel="stylesheet" />

@*creditos spiiner: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader*@
<div class="container">

    <h1 style="text-align:center;">Processando...</h1>
    <div class="loader"></div>

</div>


@section Scripts{ 


}