@model DemoPaypal.Model.PagamentoFalhaServicoViewModel

@{

}

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <p class="lead" style="text-align:center">
            <span><i class="fas fa-exclamation-triangle" style="font-size: 200px; color:orangered;"></i></span>
        </p>
        <h1 class="display-4" style="text-align:center">Falha no Serviço</h1>
        <p class="lead" style="text-align:center">Ops! Houve uma falha inesperada no serviço, tente novamente mais tarde.</p>
        <p class="lead" style="text-align:center">
            <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Home"  role="button">Tela Incial</a>
        </p>
    </div>
</div>